@import "../../index.css";

.aboutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  gap: 50px;
  background-color: var(--secondary-bg-color);
}

.abouttwo {
  display: flex;
  align-items: center;
}

.card {
  position: relative;
  flex: 2;
  width: 100%;
  max-width: 450px;
  min-width: 300px;
  aspect-ratio: 17/20;
  background: var(--primary-color);
  margin-inline: 40px;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 30%);
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Inner container – inset by border thickness */
.cardInner {
  position: absolute;
  top: 23px; /* Equal to your border thickness */
  left: 23px;
  right: 23px;
  bottom: 23px;
  background: white;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 30%);
  border-radius: 30px;
  padding: 0px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.cardInner h1 {
  font-family: inherit;
  font-weight: 800;
  font-size: 169.81px;
  line-height: 229.25px;
  letter-spacing: 1%;
  color: #e8b237;
}

.cardInner p {
  font-family: inherit;
  font-weight: 500;
  font-size: 32px;
  line-height: 33.2px;
  letter-spacing: 1%;
  color: var(--heading-color);
}

@media (min-width: 480px) {
  .cardInner h1 {
    font-size: 169.81px;
    line-height: 229.25px;
  }

  .cardInner p {
    font-size: 32px;
    line-height: 43.2px;
  }
}

.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 40px;
  gap: 50px;
  flex: 3;
}
.heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.heading .firstline {
  display: flex;
  align-items: center;
  gap: 20px;
}

.firstline .line {
  height: 4px;
  width: 30px;
  background-color: var(--accent-color);
  border: none;
}

.about .firstline p {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 32.87px;
  line-height: 30.32px;
  letter-spacing: 12%;
  color: #000000;
}

.heading h2 {
  font-family: inherit;
  font-weight: 700;
  font-size: 48px;
  line-height: 54.72px;
  letter-spacing: 0%;
  color: var(--heading-color);
}

.heading h2 span {
  font-family: "Playfair display", serif;
  font-weight: 400;
  color: var(--secondary-color);
}

.about p {
  font-family: inherit;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 1%;
  color: var(--heading-color);
}

.batch {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.batch .part {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.part h3 {
  font-family: inherit;
  font-weight: 600;
  font-size: 36px;
  line-height: 48.6px;
  letter-spacing: 1%;
  color: var(--heading-color);
}

.part p {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.6px;
  letter-spacing: 1%;
  color: var(--text-color);
}

.founder {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.founder h1 {
  font-family: "Alex Brush", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.6px;
  letter-spacing: 1%;
}

.data {
  display: flex;
  align-items: center;
  gap: 5px;
}
.data p {
  font-family: inherit;
  color: var(--heading-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 21.6px;
  letter-spacing: 1%;
}

.data span {
  width: 5px;
  height: 5px;
  background-color: var(--accent-color);
  border-radius: 50%;
}

.lowersection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.section .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.section .info h2 {
  font-family: inherit;
  font-weight: 600;
  font-size: 24px;
  line-height: 32.4px;
  letter-spacing: 1%;
  color: var(--heading-color);
}

.section .info p {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.6px;
  letter-spacing: 1%;
  color: var(--heading-color);
}

.section .icon {
  background-color: #e8b237;
  display: inline-block;
  line-height: 0;
  vertical-align: middle;
  padding: 15px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .aboutSection {
    padding: 50px;
  }
  .abouttwo {
    flex-direction: column;
    width: 100%;
  }
  .about {
    align-items: center;
    padding: 20px;
    gap: 30px;
  }
  .heading {
    gap: 30px;
  }
  .batch {
    width: 100%;
  }
  .founder {
    align-self: flex-start;
  }
  .lowersection {
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
  }
}

@media (max-width: 480px) {
  .aboutSection {
    padding: 30px;
  }
  .cardInner {
    padding-bottom: 40px;
  }
  .cardInner h1 {
    font-size: 80.81px;
    line-height: 129.25px;
  }
  .cardInner p {
    font-size: 18px;
    line-height: 33px;
  }

  .about .firstline p {
    font-size: 24px;
    line-height: 20.32px;
    letter-spacing: 8%;
    color: #000000;
  }

  .heading h2 {
    font-size: 32px;
    line-height: 34.72px;
  }

  .about p {
    font-size: 16px;
    line-height: 17px;
  }

  .part h3 {
    font-size: 24px;
    line-height: 34.6px;
  }

  .part p {
    font-size: 12px;
    line-height: 17.6px;
  }

  .data p {
    font-size: 12px;
    line-height: 17.6px;
  }

  .section .info h2 {
    font-size: 20px;
    line-height: 22.4px;
  }

  .section .info p {
    font-size: 12px;
    line-height: 17.6px;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .aboutSection {
    padding: 30px;
  }

  .abouttwo {
    flex-direction: column;
    width: 100%;
  }
  .section {
    gap: 5px;
  }

  .section .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1px;
  }

  .section .info h2 {
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 1%;
    color: var(--heading-color);
  }

  .section .info p {
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 18.6px;
    letter-spacing: 1%;
    color: var(--heading-color);
  }

  .section .icon {
    padding: 10px;
    border-radius: 10px;
  }
}

@media (max-width: 1200px) and (min-width: 1024px) {
  .aboutSection {
    padding: 30px;
    gap: 40px;
  }

  .card {
    max-width: 450px;
    min-width: 300px;
    margin-inline: 20px;
  }

  .cardInner {
    padding-bottom: 50px;
  }

  .cardInner h1 {
    font-size: 149.81px;
    line-height: 209.25px;
  }

  .cardInner p {
    font-size: 24px;
  }
}
